.addNote {
  margin-top: 1rem;
  padding: 1rem;
  color: white;
  background-color: #04A3FF;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

textarea {
  outline: none;
  border: none;
  color:white;
  border-radius: 2rem;
  padding: 15px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  margin: 5px 0 5px 0;
  background-color: #0BCCFF;
}

textarea:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

input {
  border: none;
  outline: none;
  color: white;
  height: 30px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  border-radius: 5rem;
  padding: 1rem;
  background-color: #0BCCFF;
}

input:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

button {
  width: 5rem;
  border-radius: 5px;
  padding: 5px;
  background-color: #0BCCFF;
  border: none;
  color: white;
}

button:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}


@media (max-width:400px) {
    textarea{
        padding:10px;
    }
    
}