.addNote {
  margin-top: 1rem;
  padding: 1rem;
  background-color: hsl(56, 100%, 77%);
  border-radius: 20px;
  box-shadow: hsla(56, 100%, 77%, 0.5) 0px 3px 6px,
    hsla(56, 100%, 77%, 0.6) 0px 3px 6px;
}

textarea {
  outline: none;
  border: none;
  border-radius: 2rem;
  padding: 15px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  margin: 5px 0 5px 0;
  background-color: hsl(56, 100%, 60%);
}

textarea:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

input {
  border: none;
  outline: none;
  height: 30px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
  border-radius: 5rem;
  padding: 1rem;
  background-color: hsl(56, 100%, 60%);
}

input:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

button {
  width: 5rem;
  border-radius: 5px;
  padding: 5px;
  background-color: hsl(56, 100%, 60%);
  border: none;
}

button:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}


@media (max-width:400px) {
    textarea{
        padding:5px;
    }
    
}