.note {
  margin: 2rem 0;
  background-color: #4507FF;
  min-height: 200px;
  width: 600px;
  text-align: left;
  padding: 25px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 3rem 5rem;
}
.note h2 {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 700 !important;
  color: white;
}

p {
  font-size: 1rem;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 300;
  color: white;
}


@media (max-width: 768px){
    .note{
        width:350px;
    }
}

@media (max-width:400px){
    .note{
        width:200px;
    }
}